{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Topic: ({{ newspaper.topic.name }})</p>
  <h3>
    Content:
  </h3>
  <ul>
      <li>{{ newspaper.content }} </li>
  </ul>
  <hr>
  <ul>
    {% for redactor in newspaper.redactors.all %}
      <li>{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
